body {
    font-family: Arial;
    background: #f4f6f9;
}

header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}

.card {
    background: white;
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px gray;
}

.btn {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
}
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}